In [2]:
print("Jupyter in VS code")

import numpy as NP
import pandas as PD



!python --version

Jupyter in VS code
Python 3.11.11

In [3]:
csv_p='./datasets/housing/housing.csv'
df=PD.read_csv(csv_p)

df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [4]:
# Basic Practices
# - rough note

# variable

# a = 1, b=2 - this wrong
a,b = 1,2
a+=b
print(a)
print(b)

3
2

In [9]:
if (a and b) and (a>0):
    print("yes")

if (a>b) or (b>0):
    print("no")

if (a != b or b):
    print("maybe")

if not(a==b):
    print("ok")

yes
no
maybe
ok

In [15]:
# loops
set_1={1,2,3,4,5}

for i in range(5):
    print(i)

print("i"*50)

for i in range(2,5,2):
    print(i)
print("i"*50)
for i in range(5,1,-1):
    print(i)

0
1
2
3
4
iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii
2
4
iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii
5
4
3
2

In [18]:
import math
from multiprocessing import heap
print(10 % 3)
# Except for negative values
print(-10 % 3)
print(math.fmod(-10, 3))

1
2
-1.0

In [24]:
# array and list and stack

arr=[1,2,3,4,5]

In [ ]:
arr.append(6)
print(arr)
arr.pop() # LIFO
print(arr)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5]

In [26]:
arr.insert(2,10)
print(arr)

[1, 2, 10, 3, 4, 5]

In [27]:
arr.insert(0,11)
print(arr)

[11, 1, 2, 10, 3, 4, 5]

In [28]:
# deque from collections
from collections import deque
dq=deque()
dq.append(1)
dq.append(2)
print(dq)

deque([1, 2])

In [29]:
dq.popleft() # FIFO
print(dq)

dq.appendleft(3)
print(dq)

deque([2])
deque([3, 2])

In [30]:
# HashSet
mySet = set()

mySet.add(1)
mySet.add(2)
print(mySet)
print(len(mySet))

print(1 in mySet)
print(2 in mySet)
print(3 in mySet)

mySet.remove(2)
print(2 in mySet)

# list to set
print(set([1, 2, 3]))

# Set comprehension
mySet = { i for i in range(5) }
print(mySet)

{1, 2}
2
True
True
False
False
{1, 2, 3}
{0, 1, 2, 3, 4}